@keyframes example{
 0% {bacground-color: rgb(102, 110, 110);}
  10%{background-color: rgb(64, 64, 145);}
  20%{background-color: rgb(124, 104, 143);}
  40%{background-color: rgb(252, 252, 214);}
  60%{background-color: rgb(204, 180, 152);}
  80%{background-color: rgb(196, 114, 132);}
  100%{background-color: currentColor;}
}





.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1050px;
  background-color: rgb(102, 110, 110);
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}




